@import 'palette';

$work-horizontal-spacing: 0.5em;
$block-grid-default-spacing: 0;
.work {
  background-color: $theme5_bg;
  padding: 1em $work-horizontal-spacing;
  border-bottom: 1px solid $theme5_ut;

  & > * {
    padding-bottom: 0.25em;
  }

  .work-annotations {
    color: $theme5_ut;
    font-size: small;
  }
  .work-title {
    color: $theme5_hl;
    font-size: large;
  }
  .work-author {
    color: $theme5_fg;
  }
  .work-summary {
    color: $theme5_ut;
    font-size: small;
  }
}

// Style changes for grid mode
#library.grid .work {
  padding-left: 0;
  padding-right: 0;

  margin-left: $work-horizontal-spacing;
  margin-right: $work-horizontal-spacing;
}

// Library-specific work styles
#library .work {
  white-space: nowrap;

  & > * {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// Override Foundation stuff
ul#library {
  line-height: inherit;
  list-style: none;
  margin: 0;
}

/* messes up when given ems
$topbar-height: 2em;
*/
/* bar background */
$topbar-bg: $theme2_bg;
/* arrow */
$topbar-dropdown-toggle-color: $theme2_fg;
$topbar-dropdown-toggle-alpha: 1.0;
/* all anchors */
$topbar-link-bg: $theme2_bg;
/* doesn't matter since height is jacked
$topbar-link-font-size: small;
*/
/* only topbar anchors */
$topbar-link-color: $theme2_fg;
/* hovering all anchors */
$topbar-link-bg-hover: $theme2_hl;
/* only dropdown anchors */
$topbar-dropdown-link-color: $theme2_fg;
