@import 'palette';

#section-sidebar {
  @include hideable-sidebar(24em);
  background-color: #ececec;
}

#section-content {
  margin: 0 auto;
  padding: 1em;
  max-width: 50em;
  text-align: center;

  & > div {
    text-align: left; /* IE - no start or initial */
    text-align: start;
    text-align: initial;
    display: inline-block;
  }
}
