@import 'palette';

#outer {
  @include vendor-prefix(display, flex, 1);
  @include vendor-prefix(flex-direction, column);
  height: 100%;
  overflow: hidden;

  & > #header {
    $header-height: 3em;
    @include vendor-prefix(flex, none);
    line-height: $header-height;
    min-height: $header-height;
    background-color: blue;
    color: $theme4_fg;
    background-color: $theme4_bg;
    position: relative;

    & > #menubutton {
      font-size: 1.5em;
      padding: 0 0.5em;
      cursor: pointer;
      float: left;
    }

    & > #title {
      text-align: center;
      font-size: 1.1em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      #app-name {
        font-weight: bold;
      }
    }
  }

  & > #inner {
    @include vendor-prefix(display, flex, 1);
    @include vendor-prefix(flex, auto);

    & > #hamburger-sidebar {
      @include hideable-sidebar(12em);
      color: $theme2_fg;
      background-color: $theme2_bg;

      a {
        color: $theme2_fg;
      }

      & > .sidebar-content > li > * {
        padding: 0.75em;
        display: block;
        transition: background-color 300ms ease;
        cursor: pointer;

        &:hover, &.current {
          background-color: $theme2_hl;
        }

        &.current:not(.show-panel-button) {
          cursor: default;
        }
      }
    }

    & > .page-content {
      @include vendor-prefix(flex, auto);
      overflow: auto;
    }
  }
}
