@import 'palette';

#outer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  & > #header {
    $header-height: 3em;
    flex: none;
    line-height: $header-height;
    min-height: $header-height;
    background-color: blue;
    color: $theme4_fg;
    background-color: $theme4_bg;
    position: relative;

    & > #menubutton {
      font-size: 1.5em;
      padding: 0 0.5em;
      cursor: pointer;
      float: left;
    }

    & > #title {
      text-align: center;
      font-size: 1.1em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      #app-name {
        font-weight: bold;
      }
    }
  }

  & > #inner {
    display: flex;
    flex: auto;

    $expanded-width: 12em;
    & > #sidebar {
      overflow: hidden;
      flex: 0 0 0;
      transition: flex-basis 500ms ease;
      position: relative;
      color: $theme2_fg;
      background-color: $theme2_bg;

      a {
        color: $theme2_fg;
      }

      & > #sidebar-content {
        position: absolute;
        width: $expanded-width;
        height: 100%;
        right: 0;

        & > li > * {
          padding: 0.75em;
          display: block;
          transition: background-color 300ms ease;

          &:hover, &.current {
            background-color: $theme2_hl;
          }
        }
      }
    }

    & > #sidebar.open {
      flex-basis: $expanded-width;
    }

    & > #page-content {
      flex: auto;
      overflow: auto;
    }
  }
}
