@import 'palette';

#welcome_body {
  color: $theme3_fg;
  background-color: $theme3_bg;
  min-height: 100%;

  #welcome_content {
    width: 27em;
    padding: 0 1em;
    margin: 0 auto;
    max-width: 100%;

    a {
      color: inherit;
      font-weight: bold;
    }

    button, input {
      background-color: $theme3_fg;
      border-radius: 0.25em;
    }

    button {
      padding: 0.5em 1em;
      color: $theme3_bg;
      line-height: inherit;
    }

    input {
      border: none;
      box-shadow: none;
      transition: none;
    }

    button:hover, button:focus, input:hover {
      box-shadow: 0 0 10px #888;
    }

    /* <input>s don't have an :active state, so
     * their highest level of "activation" is actually
     * the :focus state.
     */
    button:active, input:focus {
      box-shadow: 0 0 10px #666;
    }

    #welcome_header {
      text-align: center;

      #welcome_header_logo {
        padding: 16px 0px;
      }

      #welcome_header_project {
        font-size-adjust: 1.25;
        padding-top: 1em;
        padding-bottom: 1.5em;
      }
    }

    #resetPassword {
      font-size: smaller;
      text-decoration: underline;
      font-weight: normal;
    }

    ul#blurb {
      margin-left: 0;
      line-height: 1.6;

      li i {
        width: 1.5em;
      }
    }

    #welcome_links {
      text-align: center;

      #explore_library {
        margin-bottom: 1em;
        font-size: larger;
      }
    }
  }
}
