@import 'palette';

div#welcome_body {
  color: $theme3_fg;
  background-color: $theme3_bg;
  text-align: center;
  min-height: 100%;

  hr {
    width: 26em;
    display: inline-block;
  }

  a {
    color: $theme3_fg;
    font-weight: bold;
  }
}
#welcome_header_logo {
  padding: 16px 0px;
}
#welcome_header_project {
  font-size-adjust: 1.25;
  padding-top: 1em;
  padding-bottom: 1.5em;
}
ul.blurb {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 26em;
  line-height: 1.6;

  li i {
    width: 1.5em;
  }
}
div#explore_library {
  /* invert colors */
  color: $theme3_bg;
  background-color: $theme3_fg;
  border-radius: 0.5em;
  margin: 0em auto 1em auto;
  padding: 0.75em;
  width: 12em;

  a {
    color: $theme3_bg;
  }
}
