@import 'palette';

#welcome_body {
  color: $theme3_fg;
  background-color: $theme3_bg;
  text-align: center;
  min-height: 100%;

  #welcome_content {
    width: 26em;
    margin: 0 auto;
    max-width: 100%;

    a {
      color: $theme3_fg;
      font-weight: bold;
    }

    #welcome_header {
      #welcome_header_logo {
        padding: 16px 0px;
      }

      #welcome_header_project {
        font-size-adjust: 1.25;
        padding-top: 1em;
        padding-bottom: 1.5em;
      }
    }

    ul#blurb {
      text-align: left;
      margin-left: 0;
      line-height: 1.6;

      li i {
        width: 1.5em;
      }
    }

    #welcome_links {
      #explore_library {
        /* invert colors */
        display: inline-block;
        background-color: $theme3_fg;
        border-radius: 0.5em;
        margin-bottom: 1em;
        padding: 0.75em;
        width: 12em;

        a {
          color: $theme3_bg;
        }
      }
    }
  }
}
