@import 'palette';

body {
  color: $theme1_fg;
  background-color: $theme1_bg;
}

@import 'welcome';
@import 'top_and_side';
@import 'library';
@import 'readingview';

/* this must be imported last or else none of custom foundation vars work */
@import "packages/foundation5-sass/foundation";

@media #{$small-only} {
  .hide-on-mobile {
    display: none;
  }
}
