@import 'palette';

body {
  color: $theme1_fg;
  background-color: $theme1_bg;
}

$prefixes: webkit ms moz o;
@mixin vendor-prefix($name, $arguments, $which: 0) {
  @each $prefix in $prefixes {
    $new-name: $name;
    @if index($which, 0) != false {
      $new-name: -#{$prefix}-#{$new-name};
    }

    $new-list: ();
    @for $i from 1 through length($arguments) {
      $arg: nth($arguments, $i);
      @if index($which, $i) != false {
        $arg: -#{$prefix}-#{$arg};
      }

      $new-list: append($new-list, $arg);
    }

    #{$new-name}: #{$new-list};
  }

  #{$name}: #{$arguments};
}

@mixin hideable-sidebar($expanded-width) {
  &.sidebar {
    & > .sidebar-content {
      width: $expanded-width;
    }

    &.open {
      @include vendor-prefix(flex-basis, $expanded-width);
    }
  }
}

.sidebar {
  overflow: hidden;
  @include vendor-prefix(flex, 0 0 0);
  @include vendor-prefix(transition, flex-basis 500ms ease, 1);
  position: relative;

  & > .sidebar-content {
    overflow: auto;
    position: absolute;
    height: 100%;
    right: 0;
  }
}

@import 'foundation_bits';
@import 'welcome';
@import 'top_and_side';
@import 'library';
@import 'readingview';

@media #{$small-only} {
  .hide-on-mobile {
    display: none;
  }
}

ul {
  margin: 0;
  list-style: none;
  line-height: inherit;
}
