<!-- LIBRARY PAGE -->

<template name="library">
  <nav class="top-bar" data-topbar>
    <section class="top-bar-section">
      <ul class="left">
        <li class="has-dropdown"><a href="#">Sort</a>
          <ul class="dropdown">
            <li><a href="#" id="sort-title">Title (A-Z)</a></li>
            <li><a href="#" id="sort-annos">Annotations (most to least)</a></li>
          </ul>
        </li>
        <li class="has-dropdown"><a href="#">Filter</a>
          <ul class="dropdown">
            <li><a href="#">bwop bwop nothing here</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
  <ul id="library" class="{{grid_classes}}">
    {{#each get_works}}
      <li>{{> work }}</li>
    {{/each}}
  </ul>
</template>

<template name="work">
  <div class="work">
    <div class="work-annotations">{{annotationsCount}} annotations</div>
    <div class="work-title">{{title}}</div>
    <div class="work-author">{{author}}</div>
    <div class="work-summary">{{summary}}</div>
  </div>
</template>
