<!-- READING VIEW -->

<template name="readingview">
  <div id="section-sidebar" class="sidebar {{#if panel_visible}}open{{/if}}">
    <div class="sidebar-content">
      {{> get_panel_contents}}
    </div>
  </div>
  <div class="page-content">
    <div id="section-content">
      {{#with section}}
        {{> content}}
      {{else}}
        Loading...
      {{/with}}
    </div>
  </div>
</template>

<template name="content">
  <div>{{{ html }}}</div>
</template>

<template name="sections">
  <ul>
    {{#each this}}
      <li class="{{#if subSections}}heading{{/if}} {{#if current_chapter}}selected{{/if}}">
        {{#if chapter_link}}
          <a href="{{pathFor 'readingview' _id=content_id.toHexString}}">{{name}}</a>
        {{else}}
          {{name}}
        {{/if}}
      </li>
      {{#if subSections}}
        <li>{{> sections subSections}}</li>
      {{/if}}
    {{/each}}
  </ul>
</template>

<template name="table_of_contents_panel">
  <div id="table-of-contents">
    {{#with work}}
      {{> sections sections }}
    {{else}}
      Loading...
    {{/with}}
  </div>
</template>

<template name="annotation">
  <li class="annotation">
    {{#with annotation}}
      <div class="quote">{{{quote}}}</div>
      {{#if text}}
        <hr />
        <div class="text">{{{text}}}</div>
      {{/if}}
    {{/with}}

    <div class="buttons">
      <i class="fa fa-sign-in go-to" title="Scroll this annotation into view"></i>
    </div>
  </li>
</template>

<template name="annotation_list_panel">
  {{#if section}}
    <ul id="annotations-list">
      {{#each ordered_annotations}}
        {{> annotation}}
      {{/each}}
    </ul>
  {{else}}
    Loading...
  {{/if}}
</template>

<template name="type_panel">
type placeholder<br />
type placeholder<br />
</template>
