<!-- READING VIEW -->

<template name="readingview">
  <div id="section-sidebar" class="sidebar {{#if panel_visible}}open{{/if}}">
    <div class="sidebar-content">
      {{> get_panel_contents}}
    </div>
  </div>
  <div class="page-content">
    <div id="section-content">
      {{#if section}}
        {{> content section}}
      {{else}}
        Loading...
      {{/if}}
    </div>
  </div>
</template>

<template name="content">
  <div>{{{ html }}}</div>
</template>

<template name="sections">
  <ul>
    {{#each this}}
      <li class="{{#if subSections}}heading{{/if}} {{#if current_chapter}}selected{{/if}}">
        {{#if chapter_link}}
          <a href="{{pathFor 'readingview' _id=content_id.toHexString}}">{{name}}</a>
        {{else}}
          {{name}}
        {{/if}}
      </li>
      {{#if subSections}}
        <li>{{> sections subSections}}</li>
      {{/if}}
    {{/each}}
  </ul>
</template>

<template name="table_of_contents_panel">
  <div id="table-of-contents">
    {{#if work}}
      {{> sections work.sections }}
    {{else}}
      Loading...
    {{/if}}
  </div>
</template>

<template name="annotation_list_panel">
annotations placeholder<br />
annotations placeholder<br />
</template>

<template name="type_panel">
type placeholder<br />
type placeholder<br />
</template>
