<!-- WELCOME PAGE -->


<template name="welcome">
  <div id="welcome_body">
    <div id="welcome_content">
      {{> welcome_header}}
      <hr/>
      <div>
        {{> yield }}
      </div>
      <hr/>
      {{> point_to_authenticate}}
    </div>
  </div>
</template>

<template name="welcome_header">
  <div id="welcome_header">
    <div class="logo" id="welcome_header_logo" ><img src="{{setting 'logo'}}" /></div>
    {{! project title comes from document title above }}
    <div class="project" id="welcome_header_project">{{setting 'project'}}</div>
    <div class="motto" id="welcome_header_motto">{{setting 'motto'}}</div>
  </div>
</template>

<template name="welcome_blurb">
  <ul id="blurb">
    {{#each setting 'brags'}}
      <li>
        <i class="fa fa-{{icon}}"></i>
        <span>{{text}}</span>
      </li>
    {{/each}}
  </ul>
</template>

<template name="point_to_authenticate">
  <div id="welcome_links">
    <div id="explore_library">
      <a id="proceed_without_login" href="{{pathFor 'library' }}">Explore {{setting 'project'}}</a>
    </div>
    <div>
      <a id="point_to_authenticate_log_in" href="{{pathFor 'login' }}">Log In</a> or
      <a id="point_to_authenticate_create_account" href="{{pathFor 'register' }}">Create account</a>
    </div>
  </div>
</template>

<template name="login">
  <form id="login-form">
    <div>
      <input type="email" id="login-email" />
      <input type="password" id="login-password" />
      <input type="submit" id="login-button" value="Sign in" />
    </div>
  </form>
  <a id="resetPassword" href="{{pathFor 'reset' }}">Reset Password</a>
</template>

<template name="register">
  <form id="register-form">
    <div>
      <label>Username: </label><input type="username" id="account-username" />
      <label>Email: </label><input type="email" id="account-email" />
      <label>Password: </label><input type="password" id="account-password" />
      <input type="submit" id="create-account" value="Create an Account" />
    </div>
  </form>
</template>

<template name="reset">
  {{#if resetPassword}}
    <form id="reset-form">
      <div>
        <input type="text" id="new-password-password" />
        <input type="submit" value="Change Password" />
      </div>
    </form>
  {{else}}
    <form id="recovery-form">
      <div>
        <input type="text" id="recovery-email" />
        <input type="submit" value="Send Reset Instruction" />
      </div>
    </form>
  {{/if}}
</template>
