<!-- WELCOME PAGE -->


<template name="welcome">
  <div id="welcome_body">
    {{> welcome_header}}
    <hr/>
    <div>
    {{> yield }}
    </div>
    <hr/>
    {{> point_to_authenticate}}
  </div>
</template>

<template name="welcome_header">
  <div class="logo" id="welcome_header_logo" ><img src="/annotorious_logo_64px.png" /></div>
  {{! project title comes from document title above }}
  <div class="project" id="welcome_header_project">{{project}}</div>
  <div class="motto" id="welcome_header_motto">{{motto}}</div>
</template>

<template name="welcome_blurb">
  <ul id="blurb">
    <li id="welcome_blurb_books">
      <i class="fa fa-book"></i>
      <span>Over 400 public domain books to read and annotate.</span>
    </li>
    <li id="welcome_blurb_community">
      <i class="fa fa-users"></i>
      <span>A large community to share with and learn from.</span>
    </li>
    <li id="welcome_blurb_free">
      <i class="fa fa-thumbs-up"></i>
      <span>Totally free. Totally awesome.</span>
    </li>
  </ul>
</template>

<template name="point_to_authenticate">
  <div id="explore_annotorious">
    <a id="proceed_without_login" href="/library">Explore Annotorious</a>
  </div>
  <div>
    <a id="point_to_authenticate_log_in" href="/login">Log In</a> or
    <a id="point_to_authenticate_create_account" href="/register">Create account</a>
  </div>
</template>

<template name="login">
 <form id="login-form" action="action">
 
  <div class="row">
    <div class="small-5 small-centered columns">
    <input type="email" id="login-email" placeholder="Email"/>
    </div>
  </div>
 
  <div class="row">
    <div class="small-5 small-centered columns">
    <input type="password" id="login-password" placeholder="Password"/>
    </div>
  </div>

  <div class="row">
    <div class="small-2 small-centered columns">
    <input type="submit" id="login-button" value="Sign in"/>
    </div>
  </div>
 </form> 
 <a id="resetPassword">Reset Password</a>
</template>


<template name="register">
  <form id="register-form" action="action">

    <div class="row">
      <div class="small-5 small-centered columns">
      <input type="text" id="account-username" placeholder="Username"/>
      <!--input type should be "username" but it is styled from a mysterious unknown location-->
      </div>
    </div>

    <div class="row">
      <div class="small-5 small-centered columns">
      <input type="email" id="account-email" placeholder="Email"/>
      </div>
    </div>

    <div class="row">
      <div class="small-5 small-centered columns">
      <input type="password" id="account-password" placeholder="Password"/>
      </div>
    </div>

    <div class="row">
      <div class="small-2 small-centered columns">
      <input type="submit" id="create-account" value="Create an Account" />
      </div>
    </div>
  </form>
</template>

<template name="reset">
  {{#if resetPassword}}
    <form id="reset-form" action="action">
      <div>
        <input type="text" id="new-password-password" />
        <input type="submit" value="Change Password" />
      </div>
    </form>
  {{else}}
    <form id="recovery-form" action="action">
      <div>
        <input type="text" id="recovery-email" />
        <input type="submit" value="Send Reset Instruction" />
      </div>
    </form>
  {{/if}}
</template>
