<!-- WELCOME PAGE -->


<template name="welcome">
  {{> welcome_header}}
  <hr/>
  <div>
  {{> load_content }} {{! tracks Session.welcome_which_page }}
  </div>
  <hr/>
  {{> anonymous_browse}}
  {{> point_to_authenticate}}
</template>

<template name="welcome_header">
  <div class="logo" id="welcome_header_logo" ><img src="/annotorious_logo_64px.png" /></div>
  {{! project title comes from document title above }}
  <div class="project" id="welcome_header_project">{{project}}</div>
  <div class="motto" id="welcome_header_motto">{{motto}}</div>
</template>

<template name="welcome_blurb">
  <div id="welcome_blurb_books">
      Over 400 public domain books to read and annotate.
  </div>
  <div id="welcome_blurb_community">
      A large community to share with and learn from.
  </div>
  <div id="welcome_blurb_free">
     Totally free. Totally awesome.
  </div>
</template>

<template name="point_to_authenticate">
  <div>
    <a id="point_to_authenticate_log_in">Log In</a>,
    <a id="point_to_authenticate_create_account">Create account</a>, or
    <a id="proceed_without_login">Proceed without login</a>
  </div>
</template>

<template name="login">
 <form id="login-form" action="action">
    <div>
      <input type="email" id="login-email" />
      <input type="password" id="login-password" />
      <input type="submit" id="login-button" value="Sign in" />
   </div>
 </form> 
 <a id="resetPassword">Reset Password</a>
</template>

<template name="register">
  <form id="register-form" action="action">
    <div>
      <label>Username: </label><input type="username" id="account-username" />
      <label>Email: </label><input type="email" id="account-email" />
      <label>Password: </label><input type="password" id="account-password" />
      <input type="submit" id="create-account" value="Create an Account" />
    </div>
  </form>
</template>

<template name="reset">
  {{#if resetPassword}}
    <form id="reset-form" action="action">
      <div>
        <input type="text" id="new-password-password" />
        <input type="submit" value="Change Password" />
      </div>
    </form>
  {{else}}
    <form id="recovery-form" action="action">
      <div>
        <input type="text" id="recovery-email" />
        <input type="submit" value="Send Reset Instruction" />
      </div>
    </form>
  {{/if}}
</template>

<template name="anonymous_browse">
  <div>
    <span id="anonymous_browse_link">Explore Annotorious without an account.</span>
  </div>
</template>
