/* CSS declarations go here */

body {
  /* white on orange */
  /*
  background-color: #e67e22;
  color: #ffffff;
  */
  /* black on white */
  background-color: #fff;
  color: #000;
  /* bluish green highlights */
  /* #16a085 */
  /* light gray highlights */
  /* #8c8c8c */
  /* dark gray tray */
  /* #333 */
}
